* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: rgb(0, 0, 0);
    /* align-items: center;
    justify-content: center; */
    font-family: 'Poppins', sans-serif;
}

.menubtn {
    background-color: red;
    color: red;
}

.sidebar {
    position: fixed;
    width: 250px;
    left: 0;
    height: 100%;
    background: #4c4c50;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    /* position: relative;
    align-items: center; */
    padding: 20px 30px;
    width: 400px;
    border-radius: 5%;
    background: #9797a3;
}

.sidebar .text {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #4c4c50;
    letter-spacing: 1px;
}

nav ul {
    background: #4c4c50;
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    font-weight: 300;
}

nav ul li a:hover {
    color: cyan;
    border-left-color: cyan;
    background: #4c4c50;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

nav ul li a span {
    /* position: absolute; */
    /* right: 50px;
    top: 50%; */
    color: #fff;
    transform: translateY(-50%);
    font-size: 15px;
    transition: 0.4s;
}

nav ul li a span:hover {
    transform: translateY(-50%) rotate(-180deg);
}

.dropdown-content {
    display: none;
} 

.dropdown-content li a {
    display: block;
}

.show {
    display:block;
    transition: 3s; 
}

/* mostrar e nao mostrar */

.display {
    opacity: 1;
    visibility: visible;
}

.visible {
    opacity: 1;
    visibility: visible;
}

/* SCREEN */


/* FORM */
form {
    display: grid;
}

form input {
    display: inline;
}

.screen {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    /* text-align: left; */
}

.opcao {
    padding: 5px;
}

#field-legenda {
    width:25vh;
    height:7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fieldset
{
  width:100vh;
  height:70vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}